/* General page styling */
.scan-container {
    width: 100%;
    height: 80vh;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
}

/* Title styling */
.scan-container .button-container{  
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
    
}


/* Button group styling */
.scan-container .button-group {
    display: flex;
    justify-content: start;
    gap: 10px;
    flex-shrink: 0;

    /* Prevent the button group from shrinking */
}

.scan-container .btn {
  border: none;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-size: 14px;
  font-weight: bold;
}


/* Scan table container */
/* Table container styling */
.scan-container .table-container {
  overflow-y: auto;
  /* Allow vertical scroll */
  background-color: #ffffff;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.215);
  /* Subtle shadow for depth */
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
    
}

/* General table styling */
.scan-container .scan-table {
  width: 100%;
  font-size: 16px;
  border: rgba(111, 111, 111, 0.269) 0 solid;
  border-collapse: collapse;
}

.scan-container .scan-table thead {
  background: linear-gradient(195deg, #49a3f1, #1A73E8);
  top: 0;
  z-index: 1;
  position: sticky;
  text-align: center;

}



/* Table header styling */
.scan-container .scan-table th { 
  color: #eeeeee;
  padding: 15px 20px;
  text-align: center;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 2px solid #ffffff;
    
}

/* Table row styling */
.scan-container .scan-table td {
  padding: 12px 15px;
  border-bottom: 1px solid rgba(111, 111, 111, 0.269);
  text-align: center;
  background-color: #ffffff;
  font-weight: 600;
  color: #181818;
}

/* Row hover effect for better interactivity */
.scan-container .scan-table tr:hover td {
  background-color: #ededed;
    /* Darker background for table */
    color: #1A73E8;
}


/* Checkbox column specific style */
.scan-container .scan-table .checkbox {
    text-align: center;
    background-color: #45a049; /* Green background for checkboxes */
}

/* Table header specific styling for checkbox column */
.scan-container .scan-table th.checkbox {
    background-color: #d65a31; /* Header background for checkbox column */
}

/* Vulnerability column centered text */
.scan-container .scan-table .vul {
    text-align: center;
}



.scan-container .btn-new-scan {
  background-image: linear-gradient(195deg, #66BB6A, #43A047);
  box-shadow: 0 3px 12px rgba(102, 187, 106, 0.5); /* Light green shadow */
  }

  .scan-container .btn-new-scan:hover {
    background-image: linear-gradient(15deg, #66BB6A, #43A047);
    box-shadow: 0 5px 12px rgba(102, 187, 106, 0.8); /* Stronger green shadow on hover */
    }
  
  .scan-container .btn-delete-scan {
    background-image: linear-gradient(195deg, #EF5350, #E53935);  
    box-shadow: 0 3px 12px rgba(239, 83, 80, 0.5); /* Light red shadow */
  }
  .scan-container .btn-delete-scan:hover {
    background-image: linear-gradient(15deg, #EF5350, #E53935);
    box-shadow: 0 5px 12px rgba(239, 83, 80, 0.8); /* Stronger red shadow on hover */
  }
  
  .scan-container .btn-generate-report {
    background-image: linear-gradient(195deg, #747b8a, #495361);
    box-shadow: 0 3px 12px rgba(116, 123, 138, 0.5); /* Light gray-blue shadow */
  }
  .scan-container .btn-generate-report:hover {
    background-image: linear-gradient(15deg, #747b8a, #495361);
    box-shadow: 0 5px 12px rgba(116, 123, 138, 0.8); /* Stronger gray-blue shadow on hover */
  }

  .scan-container .btn-compare-scan {
    background-image: linear-gradient(195deg, #FFA726, #FB8C00); 
    box-shadow: 0 3px 12px rgba(255, 167, 38, 0.5); /* Light orange shadow */
  }
  .scan-container .btn-compare-scan:hover {
    background-image: linear-gradient(15deg, #FFA726, #FB8C00);
    box-shadow: 0 5px 12px rgba(255, 167, 38, 0.8); /* Stronger orange shadow on hover */
  }
  .scan-container .button-container .filter-btn {
    background: linear-gradient(195deg, #42424a, #191919);
    color: white;
    box-shadow: 0 4px 8px rgba(66, 66, 74, 0.5); /* Light dark shadow */
}

.scan-container .button-container .filter-btn:hover {
    background: linear-gradient(15deg, #42424a, #191919);
    box-shadow: 0 5px 12px rgba(66, 66, 74, 0.8); /* Stronger dark shadow on hover */
}

  
  
  /* Disabled button */
  .scan-container .btn.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

/* Medium Vulnerability */
.scan-container .scan-table .vulnerability-medium {
  background: linear-gradient(195deg, #ffe32b, #d4b822); /* Yellow gradient */
  transition: background 0.3s ease; /* Smooth transition */
}

.scan-container .scan-table .vulnerability-medium:hover {
  background: linear-gradient(15deg, #ffe32b, #d4b822); /* Shift gradient on hover */
}

/* Low Vulnerability */
.scan-container .scan-table .vulnerability-low {
  background: linear-gradient(195deg, #32cd32, #28a428); /* Green gradient */
  transition: background 0.3s ease;
}

.scan-container .scan-table .vulnerability-low:hover {
  background: linear-gradient(15deg, #32cd32, #28a428); /* Shift gradient on hover */
}

/* Info Vulnerability */
.scan-container .scan-table .vulnerability-info {
  background: linear-gradient(195deg, #6cbaff, #4495ff); /* Blue gradient */
  transition: background 0.3s ease;
}

.scan-container .scan-table .vulnerability-info:hover {
  background: linear-gradient(15deg, #6cbaff, #4495ff); /* Shift gradient on hover */
}

/* High Vulnerability */
.scan-container .scan-table .vulnerability-high {
  background: linear-gradient(195deg, #f7aa38, #d98c2c); /* Orange gradient */
  transition: background 0.3s ease;
}

.scan-container .scan-table .vulnerability-high:hover {
  background: linear-gradient(15deg, #f7aa38, #d98c2c); /* Shift gradient on hover */
}

/* Critical Vulnerability */
.scan-container .scan-table .vulnerability-critical {
  background: linear-gradient(195deg, #ff6868, #d95b5b); /* Red gradient */
  transition: background 0.3s ease;
}

.scan-container .scan-table .vulnerability-critical:hover {
  background: linear-gradient(15deg, #ff6868, #d95b5b); /* Shift gradient on hover */
}


.scan-container .scan-table .vulnerability-item {
  margin: 0px 5px;
  color: white;
  padding: 2px 15px;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
}


.scan-container .status-completed {
    font-weight: bold;   /* Make text bold */
    color: green;        /* Color for completed status */
}

.scan-container .status-failed {
    font-weight: bold; /* Normal weight for failed status */
    color: red;          /* Color for failed status */
}


.scan-container .checkbox {
    width: 20px;      /* Set width */
    height: 20px;     /* Set height */
    border: 2px solid #ccc; /* Default border */
    border-radius: 3px; /* Rounded corners */

}

.notification-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other elements */
  }
  
  .notification-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .notification-content p {
    margin-bottom: 20px;
  }
  .scan-container .go-target{
    margin: 10px;
    background-color: #45a049;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); /* Subtle shadow for depth */
  }  
/* View button */
.btn-view {
  background-color: #28a745; /* Green */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin: 0px 10px;
}

.scan-container .btn {
  border: none;
 
  font-size: 14px;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.btn-view .fas {
  margin-right: 5px;
}

.btn-view:hover {
  background-color: #218838; /* Darker green on hover */
}

/* Delete button */
.btn-delete {
  background-color: #dc3545; /* Red */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.btn-delete .fas {
  margin-right: 5px;
}

.btn-delete:hover {
  background-color: #c82333; /* Darker red on hover */
}

/* Link inside buttons */
.btn-view .view-link,
.btn-delete {
  text-decoration: none;
  color: white;
}


  .scan-container .close{
    margin: 10px;
    background-color: #ff4040;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); /* Subtle shadow for depth */
  }



  .scanspageUrl{
    color: #2600ff; /* Blue color like traditional links */
  text-decoration: none;
  cursor: pointer;
  }

  .scanspageUrl:hover{
    color: #0033d9;
  }

  