/* General page styling */
.reports-container {
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.reports-container .button-container{  
    display: flex;
    justify-content:space-between;
}

/* Button group styling */
.reports-container .button-group {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-bottom: 20px;
    flex-shrink: 0;
    /* Prevent the button group from shrinking */
}

.reports-container .btn {
    border: none;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    font-size: 14px;
    font-weight: bold;
}
.reports-container .btn-new-report {
    background-image: linear-gradient(195deg, #66BB6A, #43A047);
    box-shadow: 0 3px 12px rgba(102, 187, 106, 0.5); /* Light green shadow */
  }
  .reports-container .btn-new-report:hover {
    background-image: linear-gradient(15deg, #66BB6A, #43A047);
    box-shadow: 0 5px 12px rgba(102, 187, 106, 0.8); /* Stronger green shadow on hover */
  }
  
.reports-container .btn-delete-report {
    background-image: linear-gradient(195deg, #EF5350, #E53935);  
    box-shadow: 0 3px 12px rgba(239, 83, 80, 0.5); /* Light red shadow */
  }
  .reports-container .btn-delete-report:hover {
    background-image: linear-gradient(15deg, #EF5350, #E53935);
    box-shadow: 0 5px 12px rgba(239, 83, 80, 0.8); /* Stronger red shadow on hover */
  }
  /* Filter Button */
  .reports-container  .button-container .filter-btn {
    background: linear-gradient(195deg, #42424a, #191919);
    color: white;
    box-shadow: 0 4px 8px rgba(66, 66, 74, 0.5); /* Light dark shadow */
}

.reports-container  .button-container .filter-btn:hover {
    background: linear-gradient(15deg, #42424a, #191919);
    box-shadow: 0 5px 12px rgba(66, 66, 74, 0.8); /* Stronger dark shadow on hover */
}

  .reports-container .btn.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

/* Styles for the reports container and table container */
.reports-container .table-container {
    overflow-y: auto;
    background-color: #ffffff;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.215);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
}



/* Custom scrollbar for Firefox */
.reports-container .table-container {
    scrollbar-width:thin; /* Set the width of the scrollbar */
    scrollbar-color:  #1A73E8 #eeeeee; /* Color of the thumb and the track */
}

/* Fix table header and only scroll data */
.reports-container .scan-table {
    width: 100%;
    font-size: 16px;
    border: rgba(111, 111, 111, 0.269) 0 solid;
    border-collapse: collapse;
}

.reports-container .scan-table td {
    padding: 12px 15px;
    border-bottom: 1px solid rgba(111, 111, 111, 0.269);
    text-align: left;
    background-color: #ffffff;
    font-weight: 600;
    color: #181818;
}

.reports-container .scan-table thead {
    background: linear-gradient(195deg, #49a3f1, #1A73E8);
    top: 0;
    z-index: 1;
    position: sticky;

}

.reports-container .scan-table tr:hover td {
    
    background-color: #ededed; /* Darker background for table */
    color: #1A73E8;
}
.reports-container .scan-table .checkbox{
    background-color: #45a049;
}


.reports-container .scan-table .dow{
    text-align: center;
}
.reports-container .scan-table th{
    
    color: #eeeeee; /* Light text for header */
    padding: 15px 20px; /* More padding for a spacious feel */
    text-align: left;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
   
}

.reports-container .status-completed {
    font-weight: bold;   /* Make text bold */
    color: green;        /* Color for completed status */
}

.reports-container .status-queue {
    font-weight: bold; /* Normal weight for failed status */
    color: rgb(0, 94, 255);          /* Color for failed status */
}

.reports-container .download-btn {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .reports-container .pdf-btn {
    background-image: linear-gradient(195deg, #EC407A, #D81B60);
    box-shadow: 0 3px 12px rgba(236, 64, 122, 0.5); /* Light pink shadow */
    color: white;
    
  }
  .reports-container .pdf-btn:hover {
    background-image: linear-gradient(15deg, #EC407A, #D81B60);
    box-shadow: 0 5px 12px rgba(236, 64, 122, 0.5); /* Light pink shadow */
    color: white;
    
  }
  
  .reports-container .html-btn {
   color: white;
   background-image: linear-gradient(195deg, #FFA726, #FB8C00); 
   box-shadow: 0 3px 12px rgba(255, 167, 38, 0.5); /* Light orange shadow */
  }

  .reports-container .html-btn:hover {
    color: white;
    background-image: linear-gradient(15deg, #FFA726, #FB8C00); 
    box-shadow: 0 6px 12px rgba(255, 167, 38, 0.5); /* Light orange shadow */
   }
   
  
  .reports-container .download-btn:hover {
    opacity: 0.8;
  }


.reports-container .go-report{
    margin: 10px;
    background-image: linear-gradient(195deg, #66BB6A, #43A047);
    box-shadow: 0 3px 12px rgba(102, 187, 106, 0.5); /* Light green shadow */
}
.reports-container .go-report:hover{
    margin: 10px;
    background-image: linear-gradient(15deg, #66BB6A, #43A047);
    box-shadow: 0 5px 12px rgba(102, 187, 106, 0.5); /* Light green shadow */
}

.reports-container .close{
    margin: 10px;
    background-image: linear-gradient(195deg, #EF5350, #E53935);  
    box-shadow: 0 3px 12px rgba(239, 83, 80, 0.5); /* Light red shadow */
  }
  .reports-container .close:hover{
    margin: 10px;
    background-image: linear-gradient(15deg, #EF5350, #E53935);  
    box-shadow: 0 5px 12px rgba(239, 83, 80, 0.5); /* Light red shadow */
  }

  .reports-container .notification-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .reports-container .checkbox {
      width: 20px;      /* Set width */
      height: 20px;     /* Set height */
      border: 2px solid #ccc; /* Default border */
      border-radius: 3px; /* Rounded corners */
      
  
  }
  