/* Header Styling */
.header {
    height: 8vh;
    display: flex;
    align-items: center;
    background-color: #fff; 
    padding: 0 20px;
    position: fixed;
    top: 15px;
    left: 15px;
    right: 15px;
    color: #344767; /* Text color for the header */
    border-radius: 10px;
    z-index: 2; /* Ensures header stays above other content */
    box-shadow: 0px 1px 10px #42424a48; /* Soft shadow for a modern look */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header:hover {
    background-color: #f7f7f7; /* Light hover effect */
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.15); /* Stronger shadow on hover */
}

/* Header Content */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between logo and user info */
    width: 100%;
}

/* Logo */
.logo {
    width: 200px;
    height: auto; /* Maintain logo aspect ratio */
}

/* Sidebar Bottom Section */
.sidebar-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Sidebar Icons */
.sidebar-bottom a svg {
    padding: 10px;
    font-size: 20px;
    color: #344767; /* Icon color */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and hover effects */
}

/* Sidebar Icons on Hover */
.sidebar-bottom .menu-item:hover svg {
    color: #000; /* Darken icon on hover */
    transform: scale(1.3); /* Slight scaling for emphasis */
}
