body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f4f5ff;
  
}

.App {
  display: flex;
  flex-direction: column;
  
}

.container {
  display: flex;
  height: 100%;
}

#main {
  flex-grow: 1;
  transition: margin-left 0.5s;

  padding: 10px;
 
  margin-top: 6%;
  border-radius: 10px;
  
 
}
.table-container {
  scrollbar-width:thin; /* Set the width of the scrollbar */
  scrollbar-color:  #1A73E8 #eeeeee; /* Color of the thumb and the track */
}

.main-expand {
  margin: 10px 15px 10px 110px;
}

.main-shrink {
  margin: 10px 15px 10px 265px;
}



